# Dataset 
--------------------
The dataset consists of Four Files containing all goals with Clubs of 
1. Leo Messi. 
2. Cristiano Ronaldo.
* Data Columns
1. Season on the Goal
2. Competition	
3. Matchday	
4. Date	 
5. Venue	
6. Club	
7. Opponent	
8. Result	
9. Playing_Position	
10. Minute	
11. At_score	
12. Type	
13. Goal_assist

# Analysis Points:
1. Free Goal and Penalty of each player.
2. The most players Make Assist for of each player.
3. The Goals in Each Season/Year and Club.
4. the Goals Distribution in match minutes.
5. Player poistion in each club.

# preparing the environment
------------------------------

Importing Required Modules and Libraries

In [421]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import re

Read Dataset From CSV Files

In [422]:
Path_CR7='C:/Users/MahmoudAshraf/Desktop/CR7 vs Messi/CR7_data.csv'
Path_Messi='C:/Users/MahmoudAshraf/Desktop/CR7 vs Messi/Messi_data.csv'
Path_CR7_overall='C:/Users/MahmoudAshraf/Desktop/CR7 vs Messi/CR7_overall.csv'
Path_Messi_overall='C:/Users/MahmoudAshraf/Desktop/CR7 vs Messi/Messi_overall.csv'
raw_CR7=pd.read_csv(Path_CR7)
raw_Messi=pd.read_csv(Path_Messi)
CR7_overall=pd.read_csv(Path_CR7_overall)
Messi_overall=pd.read_csv(Path_Messi_overall)

# Data Exploration
-------------------------------

Show The DataFrames

In [423]:
raw_CR7.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,02/03,Liga Portugal,6,10/7/02,H,Sporting CP,Moreirense FC,3:0,LW,34,2:0,Solo run,NaN
1,02/03,Liga Portugal,6,10/7/02,H,Sporting CP,Moreirense FC,3:0,LW,90+5,3:0,Header,Rui Jorge
2,02/03,Liga Portugal,8,10/26/02,A,Sporting CP,Boavista FC,1:2,NaN,88,1:2,Right-footed shot,Carlos Martins
3,02/03,Taca de Portugal Placard,Fourth Round,11/24/02,H,Sporting CP,CD Estarreja,4:1,NaN,67,3:0,Left-footed shot,Cesar Prates
4,02/03,Taca de Portugal Placard,Fifth Round,12/18/02,H,Sporting CP,FC Oliveira do Hospital,8:1,NaN,13,3:0,NaN,NaN

In [424]:
raw_Messi.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,5/1/05,H,FC Barcelona,Albacete Balompie,2:0,CF,90+1,2:0,Left-footed shot,Ronaldinho Gaacho
1,05/06,UEFA Champions League,Group Stage,11/2/05,H,FC Barcelona,Panathinaikos Athens,5:0,RW,34,3:0,Left-footed shot,NaN
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:1,RW,51,2:0,Left-footed shot,Samuel Etoo
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:1,RW,50,2:1,Left-footed shot,Mark van Bommel
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:0,CF,82,2:0,Left-footed shot,Ronaldinho Gaacho

Overall Statistics

In [425]:
CR7_overall

   Matches  Goals  Wiins  Draws  Defeats  Points_average  Game_winning_goals
0      461    698    386     44       31            2.61                 219

In [426]:
Messi_overall

   Matches  Goals  Wiins  Draws  Defeats  Points_average  Game_winning_goals
0      439    683    372     46       21            2.65                 183

Show Samples From DataFrames

In [427]:
raw_CR7.sample(10)

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
372,13/14,UEFA Champions League,Semi-Finals,4/29/14,A,Real Madrid,Bayern Munich,0:4,LW,90,0:4,Direct free kick,NaN
500,16/17,FIFA Club World Cup,Final,12/18/16,H,Real Madrid,Kashima Antlers,4:2 AET,LW,60,2:2,Penalty,NaN
45,06/07,Premier League,25,1/31/07,H,Manchester United,Watford FC,4:0,RW,12,1:0,Penalty,NaN
509,16/17,LaLiga,24,2/26/17,A,Real Madrid,Villarreal CF,2:3,LW,74,2:2,Penalty,NaN
314,12/13,LaLiga,30,4/6/13,H,Real Madrid,Levante UD,5:1,CF,84,3:1,Right-footed shot,Gonzalo Higuain
260,11/12,LaLiga,33,4/11/12,A,Real Madrid,Atletico de Madrid,1:4,LW,82,1:3,Penalty,NaN
565,17/18,LaLiga,29,3/18/18,H,Real Madrid,Girona FC,6:3,CF,90+1,6:3,Right-footed shot,Toni Kroos
155,09/10,LaLiga,37,5/8/10,H,Real Madrid,Athletic Bilbao,5:1,CF,21,1:0,Penalty,NaN
356,13/14,Copa del Rey,Semi-Finals,2/11/14,A,Real Madrid,Atletico de Madrid,0:2,LW,6,0:1,Penalty,NaN
75,07/08,Premier League,22,1/12/08,H,Manchester United,Newcastle United,6:0,RW,70,3:0,Right-footed shot,Carlos Tevez

In [428]:
raw_Messi.sample(10)

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
1,05/06,UEFA Champions League,Group Stage,11/2/05,H,FC Barcelona,Panathinaikos Athens,5:0,RW,34,3:0,Left-footed shot,NaN
226,11/12,UEFA Champions League,last 16,3/7/12,H,FC Barcelona,Bayer 04 Leverkusen,7:1,CF,58,5:0,Left-footed shot,NaN
332,13/14,LaLiga,23,2/9/14,A,FC Barcelona,Sevilla FC,1:4,CF,44,1:2,Left-footed shot,Pedro
393,14/15,LaLiga,26,3/8/15,H,FC Barcelona,Rayo Vallecano,6:1,RW,63,4:0,Tap-in,NaN
603,19/20,LaLiga,8,10/6/19,H,FC Barcelona,Sevilla FC,4:0,RW,78,4:0,Direct free kick,NaN
87,09/10,UEFA Champions League,Group Stage,9/29/09,H,FC Barcelona,Dynamo Kyiv,2:0,RW,25,1:0,Left-footed shot,Andres Iniesta
167,10/11,LaLiga,24,2/20/11,H,FC Barcelona,Athletic Bilbao,2:1,CF,78,2:1,Right-footed shot,Dani Alves
21,06/07,LaLiga,35,5/20/07,A,FC Barcelona,Atletico de Madrid,0:6,RW,80,0:5,Left-footed shot,Giovanni van Bronckhorst
356,14/15,LaLiga,4,9/21/14,A,FC Barcelona,Levante UD,0:5,CF,77,0:5,Right-footed shot,NaN
140,10/11,LaLiga,9,10/30/10,H,FC Barcelona,Sevilla FC,5:0,RW,63,4:0,Left-footed shot,NaN

DataFrames Information

In [429]:
raw_CR7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            698 non-null    object
 1   Competition       698 non-null    object
 2   Matchday          698 non-null    object
 3   Date              698 non-null    object
 4   Venue             698 non-null    object
 5   Club              698 non-null    object
 6   Opponent          698 non-null    object
 7   Result            698 non-null    object
 8   Playing_Position  641 non-null    object
 9   Minute            698 non-null    object
 10  At_score          698 non-null    object
 11  Type              683 non-null    object
 12  Goal_assist       458 non-null    object
dtypes: object(13)
memory usage: 71.0+ KB

In [430]:
raw_Messi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            683 non-null    object
 1   Competition       683 non-null    object
 2   Matchday          683 non-null    object
 3   Date              683 non-null    object
 4   Venue             683 non-null    object
 5   Club              683 non-null    object
 6   Opponent          683 non-null    object
 7   Result            683 non-null    object
 8   Playing_Position  683 non-null    object
 9   Minute            683 non-null    object
 10  At_score          683 non-null    object
 11  Type              682 non-null    object
 12  Goal_assist       474 non-null    object
dtypes: object(13)
memory usage: 69.5+ KB

In [431]:
raw_CR7.describe()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
count,698,698,698,698,698,698,698,698,641,698,698,683,458
unique,20,15,52,461,2,4,124,51,5,106,35,11,86
top,14/15,LaLiga,Group Stage,9/12/15,H,Real Madrid,Sevilla FC,3:0,LW,90,1:0,Right-footed shot,Karim Benzema
freq,61,311,73,5,402,450,27,49,356,17,111,251,44

In [432]:
raw_Messi.describe()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
count,683,683,683,683,683,683,683,683,683,683,683,682,474
unique,18,7,48,439,2,2,88,46,9,96,38,12,64
top,11/12,LaLiga,Group Stage,3/7/12,H,FC Barcelona,Sevilla FC,4:0,CF,55,1:0,Left-footed shot,Luis Suarez
freq,73,474,76,5,410,672,38,45,266,13,96,422,48

Formatting Columns Names

In [433]:
raw_CR7.columns=raw_CR7.columns.str.replace('Minute','Minutes')
raw_CR7.columns=raw_CR7.columns.str.replace('At_score','Score At')
raw_CR7.columns=raw_CR7.columns.str.replace('_',' ')
raw_Messi.columns=raw_Messi.columns.str.replace('Minute','Minutes')
raw_Messi.columns=raw_Messi.columns.str.replace('At_score','Score At')
raw_Messi.columns=raw_Messi.columns.str.replace('_',' ')

Seasons

In [434]:
pd.unique(raw_CR7['Season'])

array(['02/03', '03/04', '04/05', '05/06', '06/07', '07/08', '08/09',
       '09/10', '10/11', '11/12', '12/13', '13/14', '14/15', '15/16',
       '16/17', '17/18', '18/19', '19/20', '20/21', '21/22'], dtype=object)

In [435]:
pd.unique(raw_Messi['Season'])

array(['04/05', '05/06', '06/07', '07/08', '08/09', '09/10', '10/11',
       '11/12', '12/13', '13/14', '14/15', '15/16', '16/17', '17/18',
       '18/19', '19/20', '20/21', '21/22'], dtype=object)

Competitions

In [436]:
pd.unique(raw_CR7['Competition'])

array(['Liga Portugal', 'Taca de Portugal Placard', 'Premier League',
       'FA Cup', 'UEFA Champions League Qualifying', 'EFL Cup',
       'UEFA Champions League', 'FIFA Club World Cup', 'LaLiga',
       'Copa del Rey', 'Supercopa', 'UEFA Super Cup', 'Serie A',
       'Supercoppa Italiana', 'Italy Cup'], dtype=object)

In [437]:
pd.unique(raw_Messi['Competition'])

array(['LaLiga', 'UEFA Champions League', 'Copa del Rey', 'Supercopa',
       'FIFA Club World Cup', 'UEFA Super Cup', 'Ligue 1'], dtype=object)

Opponent

In [438]:
pd.unique(raw_CR7['Opponent'])

array(['Moreirense FC', 'Boavista FC', 'CD Estarreja',
       'FC Oliveira do Hospital', 'Portsmouth FC', 'Manchester City',
       'Tottenham Hotspur', 'Birmingham City', 'Aston Villa',
       'Millwall FC', 'Southampton FC', 'Exeter City', 'Arsenal FC',
       'Everton FC', 'Fulham FC', 'Newcastle United', 'Debreceni VSC',
       'Middlesbrough FC', 'West Bromwich Albion', 'Bolton Wanderers',
       'Wigan Athletic', 'Charlton Athletic', 'Reading FC', 'Watford FC',
       'AS Roma', 'AC Milan', 'Sporting CP', 'Dynamo Kyiv',
       'Blackburn Rovers', 'Derby County', 'Sunderland AFC',
       'West Ham United', 'Olympique Lyon', 'Liverpool FC', 'Chelsea FC',
       'Hull City', 'Stoke City', 'Gamba Osaka', 'FC Internazionale',
       'FC Porto', 'Deportivo de La Corua', 'RCD Espanyol Barcelona',
       'FC Zrich', 'Xerez CD', 'Villarreal CF', 'Olympique Marseille',
       'UD Almeria', 'Real Zaragoza', 'Malaga CF', 'CD Tenerife',
       'Sevilla FC', 'Real Valladolid CF', 'Getafe CF',
       'Racing Santander', 'Valencia CF', 'CA Osasuna', 'RCD Mallorca',
       'Athletic Bilbao', 'Hercules CF', 'Real Murcia CF',
       'Ajax Amsterdam', 'AJ Auxerre', 'Levante UD', 'Atletico de Madrid',
       'Real Sociedad', 'FC Barcelona', 'Rayo Vallecano',
       'Sporting Gijn', 'SD Ponferradina', 'Granada CF', 'CSKA Moscow',
       'Real Betis Balompie', 'APOEL Nicosia', 'Bayern Munich',
       'Celta de Vigo', 'Borussia Dortmund', 'Manchester United',
       'Galatasaray', 'Elche CF', 'FC Copenhagen', 'Juventus FC',
       'FC Schalke 04', 'Crdoba CF', 'FC Basel 1893',
       'Ludogorets Razgrad', 'SD Eibar', 'Shakhtar Donetsk', 'Malm FF',
       'UD Las Palmas', 'VfL Wolfsburg', 'Deportivo Alaves', 'CF America',
       'Kashima Antlers', 'Al-Jazira (Abu Dhabi)',
       'Grmio Foot-Ball Porto Alegrense', 'Paris Saint-Germain',
       'Girona FC', 'US Sassuolo', 'Frosinone Calcio', 'Udinese Calcio',
       'Genoa CFC', 'Empoli FC ', 'SPAL', 'ACF Fiorentina', 'Torino FC',
       'Atalanta BC', 'UC Sampdoria', 'SS Lazio', 'Parma Calcio 1913',
       'Inter Milan', 'SSC Napoli', 'Hellas Verona',
       'Bayer 04 Leverkusen', 'Bologna FC 1909', 'Cagliari Calcio',
       'US Lecce', 'Spezia Calcio', 'Ferencvarosi TC', 'FC Crotone',
       'BSC Young Boys', 'Norwich City', 'Burnley FC',
       'Brighton & Hove Albion', 'Brentford FC'], dtype=object)

In [439]:
pd.unique(raw_Messi['Opponent'])

array(['Albacete Balompie', 'Panathinaikos Athens', 'Racing Santander',
       'Athletic Bilbao', 'Deportivo Alaves', 'RCD Mallorca',
       'Real Zaragoza', 'Real Betis Balompie', 'Celta de Vigo',
       'CA Osasuna', 'SV Werder Bremen', 'Sevilla FC', 'Real Madrid',
       'Recreativo Huelva', 'Deportivo de La Coruaa', 'Getafe CF',
       'Atletico de Madrid', 'RCD Espanyol Barcelona',
       'Gimnastic de Tarragona', 'Olympique Lyon', 'Levante UD',
       'VfB Stuttgart', 'UD Almera', 'Rangers FC', 'Celtic FC',
       'Valencia CF', 'Sporting Gijn', 'Shakhtar Donetsk',
       'FC Basel 1893', 'Malaga CF', 'Benidorm CD', 'Sporting CP',
       'CD Numancia', 'Bayern Munich', 'Manchester United', 'Dynamo Kyiv',
       'Cultural Leonesa', 'CF Atlante', 'Club Estudiantes de La Plata',
       'CD Tenerife', 'Real Valladolid CF', 'Arsenal FC', 'Villarreal CF',
       'FC Copenhagen', 'Club Atletico de Ceuta', 'Real Sociedad',
       'Hercules CF', 'FC Porto', 'BATE Borisov', 'FC Viktoria Plzen',
       'AC Milan', 'Rayo Vallecano', 'Santos FC', 'Bayer 04 Leverkusen',
       'Granada CF', 'Spartak Moscow', 'Crdoba CF',
       'Paris Saint-Germain', 'Ajax Amsterdam', 'Manchester City',
       'Elche CF', 'SD Eibar', 'APOEL Nicosia', 'AS Roma',
       'CA River Plate', 'CD Leganes', 'Borussia Mnchengladbach',
       'UD Las Palmas', 'Juventus FC', 'Olympiacos Piraeus', 'Chelsea FC',
       'Girona FC', 'SD Huesca', 'PSV Eindhoven', 'Tottenham Hotspur',
       'Liverpool FC', 'SK Slavia Prague', 'Borussia Dortmund',
       'SSC Napoli', 'Ferencvarosi TC', 'Cadiz CF', 'RB Leipzig',
       'FC Nantes', 'Club Brugge KV', 'LOSC Lille', 'FC Lorient',
       'RC Lens', 'Montpellier'], dtype=object)

Match Day

In [440]:
pd.unique(raw_CR7['Matchday'])

array(['6', '8', 'Fourth Round', 'Fifth Round', '11', '29', '32', '38',
       'Final', '16', 'Third Round', '24', '25', 'Sixth Round', '30',
       'Semi-Finals', '3rd round', 'Round of 16', '20', '26', '28', '1',
       '10', '15', '17', '19', '21', '23', '6th round', 'Quarter-Finals',
       '37', 'Group Stage', '9', '12', '13', '18', '22', '27', 'last 16',
       '31', '33', '34', '36', '2', '3', '4', '35', '7', '4th round',
       '14', 'final', '5'], dtype=object)

In [441]:
pd.unique(raw_Messi['Matchday'])

array(['34', 'Group Stage', '13', '19', '20', '21', 'Quarter-Finals',
       '24', '1', '2', '6', '26', '27', '28', 'Semi-Finals', '35', '37',
       '38', '4', '5', '7', '9', 'last 16', '25', '3', 'Fifth Round',
       '11', '15', 'Round of 16', '18', '31', '33', 'Final', 'final', '8',
       '10', '5th round', '17', '30', '36', '4th round', '12', '14', '22',
       '32', '29', '16', '23'], dtype=object)

Goal Assist

In [442]:
pd.unique(raw_CR7['Goal assist'])

array([nan, 'Rui Jorge', 'Carlos Martins', 'Cesar Prates', 'Ryan Giggs',
       'Gary Neville', 'Paul Scholes', 'Louis Saha',
       'Ruud van Nistelrooy', 'Roy Keane', 'Wayne Rooney', 'John OShea',
       'Ji-sung Park', 'Ole Gunnar Solskjaer', 'Michael Carrick',
       'Wes Brown', 'Patrice Evra', 'Carlos Tevez', 'Nemanja Vidic',
       'Nani', 'Edwin van der Sar', 'Owen Hargreaves', 'Dimitar Berbatov',
       'Anderson', 'Guti', 'Esteban Granero', 'Pepe', 'Karim Benzema',
       'Gonzalo Higuain', 'Lassana Diarra', 'Ezequiel Garay', 'Kaka',
       'Marcelo', 'Sergio Ramos', 'Mesut Ozil', 'Xabi Alonso',
       'Angel Di Maria', 'Sergio Canales', 'Sami Khedira',
       'alvaro Arbeloa', 'Fabio Coentro', 'Jose Callejn',
       'Luka Modric', 'Isco', 'Gareth Bale', 'Daniel Carvajal',
       'James Rodriguez', 'Toni Kroos', 'Chicharito', 'Lucas Vazquez',
       'Danilo', 'Jese', 'alvaro Morata', 'Nacho Fernandez',
       'Mateo Kovacic', 'Marco Asensio', 'Casemiro', 'Borja Mayoral',
       'Emre Can', 'Mario Mandzukic', 'Blaise Matuidi',
       'Leonardo Bonucci', 'Miralem Pjanic', 'Giorgio Chiellini',
       'Paulo Dybala', 'Federico Bernardeschi', 'Joo Cancelo',
       'Leonardo Spinazzola', 'Douglas Costa', 'Rodrigo Bentancur',
       'Alex Sandro', 'Juan Cuadrado', 'Aaron Ramsey', 'Merih Demiral',
       'Federico Chiesa', 'Adrien Rabiot', 'Luke Shaw', 'Bruno Fernandes',
       'Jesse Lingard', 'Mason Greenwood', 'Marcus Rashford',
       'Scott McTominay', 'Fred', 'Jadon Sancho', 'Alex Telles',
       'Anthony Elanga', 'Nemanja Mati'], dtype=object)

In [443]:
pd.unique(raw_Messi['Goal assist'])

array(['Ronaldinho Gaacho', nan, 'Samuel Etoo', 'Mark van Bommel',
       'Sylvinho', 'Ludovic Giuly', 'Andres Iniesta', 'Deco', 'Xavi',
       'Giovanni van Bronckhorst', 'Gianluca Zambrotta', 'Thierry Henry',
       'Bojan Krkic', 'Dani Alves', 'Aleksandr Hleb', 'Gerard Pique',
       'Zlatan Ibrahimovic', 'Pedro', 'ric Abidal', 'Yaya Toure',
       'Seydou Keita', 'Maxwell', 'David Villa', 'Thiago', 'Adriano',
       'Ibrahim Afellay', 'Sergio Busquets', 'Cesc Fabregas',
       'Alexis Sanchez', 'Cristian Tello', 'Isaac Cuenca', 'Jordi Alba',
       'Marta Montoya', 'Neymar', 'Alex Song', 'Antonio Amaya',
       'Marc Bartra', 'Rafinha', 'Luis Suarez', 'Ivan Rakitic',
       'Arda Turan', 'Munir El Haddadi', 'Lucas Digne', 'Sergi Roberto',
       'Javier Mascherano', 'Paco Alcacer', 'Paulinho', 'Aleix Vidal',
       'Denis Suarez', 'Ousmane Dembele', 'Philippe Coutinho',
       'Arturo Vidal', 'Nelson Semedo', 'Malcom', 'Clement Lenglet',
       'Antoine Griezmann', 'Arthur', 'Frenkie de Jong', 'Riqui Puig',
       'Francisco Trinco', 'Pedri', 'Martin Braithwaite',
       'Ilaix Moriba', 'Kylian Mbappe', 'Kylian Mbapp'], dtype=object)

Goal Types

In [444]:
pd.unique(raw_CR7['Type'])

array(['Solo run', 'Header', 'Right-footed shot', 'Left-footed shot', nan,
       'Direct free kick', 'Tap-in', 'Penalty', 'Penalty rebound',
       'Long distance kick', 'Counter attack goal',
       'Deflected shot on goal'], dtype=object)

In [445]:
pd.unique(raw_Messi['Type'])

array(['Left-footed shot', 'Right-footed shot', 'Header', 'Solo run', nan,
       'Penalty', 'Deflected shot on goal', 'Direct free kick',
       'Penalty rebound', 'Counter attack goal', 'Chest', 'Tap-in',
       'Long distance kick'], dtype=object)

Playing Position

In [446]:
pd.unique(raw_CR7['Playing Position'])

array(['LW', nan, 'RW', 'CF', 'LW ', 'CF '], dtype=object)

In [447]:
pd.unique(raw_Messi['Playing Position'])

array(['CF', 'RW', 'LW', 'SS', 'CF ', 'AM', 'RW ', 'AM ', 'SS '],
      dtype=object)

DataFrame Size

In [448]:
raw_CR7.shape

(698, 13)

In [449]:
raw_Messi.shape

(683, 13)

Summation of Duplicates

In [450]:
raw_CR7.duplicated().sum()

0

In [451]:
raw_Messi.duplicated().sum()

0

No of Unknown Goal Assist

In [452]:
raw_Messi['Goal assist'].isnull().sum()

209

In [453]:
raw_CR7['Goal assist'].isnull().sum()

240

----------------------------
# CR7 Notes
1. No problems in *Season*
2. No problems in *Competition*
3. No Duplicated rows
4. *Missing* Data detected in   *Playing_Position*  ,  *Type*  ,  *Goal_assist*
5. Playing Position has spaces
6. Date mm/dd/yy Format and we can make it dd/mm/yyyy
7. Some players names in  Goal Assist and clubs in Opponent.
8. Add Panelty Column (bool).
9. Goal Assist has nan values *(may be Some Goal does not need assist such as Penalty, Penalty rebound, Solo run, Long distance kick)*
10.

----------------------------
# Messi Notes
1. No problems in *Season*
2. No problems in *Competition*
3. No Duplicated rows
4. *Missing* Data detected in  *Type*  ,  *Goal_assist*
5. Playing Position has spaces
6. Date mm/dd/yy Format and we can make it dd/mm/yyyy
7. Some players names in  Goal Assist and clubs in Opponent.
8. Add Panelty Column (bool).
9. Goal Assist has nan values
* may be Some Goal does not need assist such as Penalty, Penalty rebound, Solo run, Long distance kick*

----------------------
# Data Analysis

Make Copy from DataFrames

In [454]:
CR7=raw_CR7.copy()
Messi=raw_Messi.copy()

Removing Space from Playing Position

In [455]:
for i in CR7.index[CR7['Playing Position'].notnull()]:
  CR7['Playing Position'][i]=CR7['Playing Position'][i].strip() 
for i in Messi.index:
  Messi['Playing Position'][i]=Messi['Playing Position'][i].strip()

# Repairing NAN Playing Position CR7

CR7 Unique Season

In [456]:
A=pd.unique(CR7['Season'])

In [457]:
X=CR7.groupby('Season')
All_PP_Nan=CR7[CR7['Playing Position'].isnull()]
for i in A:
    A=All_PP_Nan[All_PP_Nan['Season']==i].index
    CR7.loc[A,'Playing Position']=X.get_group(i)['Playing Position'].value_counts().idxmax()

Repairing Players Names

In [458]:
CR7 = CR7.replace(['Nemanja Vidic','Joo Cancelo','Nemanja Mati','Jose Callejn','Fabio Coentro'],
                  ['Nemanja Vidi','Jos Callejn','Nemanja Mati','Jos Callejn','Fbio Coentro'])

Messi = Messi.replace(['Francisco Trinco','ric Abidal'],
                      ['Francisco Trinco','Eric Abidal ',])

In [459]:
CR7=CR7.replace(['FC Zrich','Deportivo de La Corua','Sporting Gijn','Malm FF','Grmio Foot-Ball Porto Alegrense'],
                ['FC Zrich','Deportivo de La Corua','Sporting de Gijn','Malm FF','Grmio Foot-Ball Porto Alegrense'])


Messi = Messi.replace(['Crdoba CF','Borussia Mnchengladbach','Sporting Gijn'],
                      ['Crdoba CF','Borussia Mnchengladbach','Sporting de Gijn'])

In [460]:
for i in CR7.index:
    CR7['Venue'][i]=re.sub('H','Home',CR7['Venue'][i])
    CR7['Venue'][i]=re.sub('A','Away',CR7['Venue'][i])
for i in Messi.index:
    Messi['Venue'][i]=re.sub('H','Home',Messi['Venue'][i])
    Messi['Venue'][i]=re.sub('A','Away',Messi['Venue'][i])

Make No Assist For : *Penalty* , *free kick* , *Solo run*

In [461]:
# Penalty_index=CR7.index[CR7['Type'] == 'Penalty']
# free_kick_index=CR7.index[CR7['Type'] == 'free kick']
# Solo_run_index=CR7.index[CR7['Type'] == 'Solo run']


# CR7.loc[Penalty_index,'Goal assist']='No Assist'
# CR7.loc[free_kick_index,'Goal assist']='No Assist'
# CR7.loc[Solo_run_index,'Goal assist']='No Assist'

In [462]:
# Penalty_index=Messi.index[Messi['Type'] == 'Penalty']
# free_kick_index=Messi.index[Messi['Type'] == 'free kick']
# Solo_run_index=Messi.index[Messi['Type'] == 'Solo run']


# Messi.loc[Penalty_index,'Goal assist']='No Assist'
# Messi.loc[free_kick_index,'Goal assist']='No Assist'
# Messi.loc[Solo_run_index,'Goal assist']='No Assist'

In [463]:
CR7['Goal assist'].isnull().sum()

240

In [464]:
Messi['Goal assist'].isnull().sum()

209

--------------------------
# Notes
Still There alot of Goal without Assist (So there are to options)
1. Remove Assist Column From the analysis
2. Keep the Not A Namber Assist as its in Raw Data (I Prefert this option)
----------------------------------

Repairing Goal Type (NAN)

In [465]:
Messi['Type'].isnull().sum()

1

In [466]:
Messi[Messi['Type'].isnull()]

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing Position,Minutes,Score At,Type,Goal assist
22,06/07,LaLiga,37,6/9/07,Home,FC Barcelona,RCD Espanyol Barcelona,2:2,RW,43,1:1,NaN,Gianluca Zambrotta

for this video i find it hand goal
https://www.youtube.com/watch?v=Vp2AJMrrKj4

In [467]:
Messi.loc[22,'Type']= 'Hand'

Reformatting the Data Column

In [468]:
for i in CR7.index:
    A=pd.datetime.strptime(CR7['Date'][i], '%m/%d/%y')
    CR7['Date'][i]=A.strftime('%Y-%m-%d')
for x in Messi.index:
    B=pd.datetime.strptime(Messi['Date'][x], '%m/%d/%y')
    Messi['Date'][x]=B.strftime('%Y-%m-%d')

C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\1807615292.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  A=pd.datetime.strptime(CR7['Date'][i], '%m/%d/%y')
C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\1807615292.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  B=pd.datetime.strptime(Messi['Date'][x], '%m/%d/%y')

Reformatting the Season Column

In [469]:
CR7.Season=CR7.Season.str.replace('/','_')
Messi.Season=Messi.Season.str.replace('/','_')

Reformatting the Score at Column

In [470]:
for i in CR7.index:
    A=pd.datetime.strptime(CR7['Score At'][i], '%H:%M')
    CR7['Score At'][i]=A.strftime('%H:%M')
for x in Messi.index:
    B=pd.datetime.strptime(Messi['Score At'][x], '%H:%M')
    Messi['Score At'][x]=B.strftime('%H:%M')

C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\3620186239.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  A=pd.datetime.strptime(CR7['Score At'][i], '%H:%M')
C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\3620186239.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  B=pd.datetime.strptime(Messi['Score At'][x], '%H:%M')

Changing Clubs names

In [471]:
CR7.Club=CR7.Club.replace(['Paris Saint-Germain','FC Barcelona'],
                          ['PSG','Barca'])

In [472]:
CR7.Club=CR7.Club.replace(['Manchester United','Real Madrid','Juventus FC'],
                          ['Man.United','RM','Juv'])

Saving Messi and CR7 DataFrames

In [473]:
CR7.to_csv('Modified CR7.csv')
Messi.to_csv('Modified Messi.csv')

Add Player Name Column to the major DataFrame

In [474]:
CR7['Player']='CR7'
Messi['Player']='Messi'

In [475]:
CR7_overall['Player']='CR7'
Messi_overall['Player']='Messi'

In [476]:
CR7['Penalty']=CR7['Type']=='Penalty'
Messi['Penalty']=Messi['Type']=='Penalty'

Marge DataFrames

In [477]:
Total_data= CR7.append(Messi, ignore_index=True)
Total_overall=CR7_overall.append(Messi_overall, ignore_index=True)

C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\12969533.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Total_data= CR7.append(Messi, ignore_index=True)
C:\Users\MahmoudAshraf\AppData\Local\Temp\ipykernel_9160\12969533.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Total_overall=CR7_overall.append(Messi_overall, ignore_index=True)

Saving The Total Data

In [478]:
Total_data.to_csv('Total_data.csv')

In [479]:
Total_overall

,Matches,Goals,Wiins,Draws,Defeats,Points_average,Game_winning_goals,Player
0,461,698,386,44,31,2.61,219,CR7
1,439,683,372,46,21,2.65,183,Messi

In [480]:
Total_overall.to_csv('Total_overall.csv')